{% extends "layout.html" %}

{% block title %}
    Contracts
{% endblock %}

{% block main %}
    <div class="table-responsive"></div>
    <table class=table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Status</th>
                <th>Permission</th>
                <th>Company</th>
                <th>Contractor</th>
                <th>Address</th>
            </tr>
        </thead>

        <tbody>
                {% for contract in contracts: %}
                    <tr>
                        <td><a href="/login" method="POST" code={{contract["code"]}}>{{ contract["code"] }}</a></td>
                        <td>{{ contract["status"] }}</td>
                        <td>{{ contract["permission"] }}</td>
                        <td>{{ contract["company"] }}</td>
                        <td>{{ contract["contractor"] }}</td>
                        <td>{{ contract["address"] }}</td>
                    </tr>
                {% endfor%}
        </tbody>
    </table>
{% endblock %}
