{% extends "layout.html" %}

{% block title %}
    ProjectTasks
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h6 class="card-title p-2" style="text-align: center">Project # {{project["id"]}}</h6>
            <div class="task-amount m-5 ">
                <h1>To-dos</h1>
                <h2>{{tasks | pending }}</h5>
            </div>
        </div>
        <div class="col">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th scope="row">Status</th>
                            <td>{{project["status"]}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Permission</th>
                            <td>{{project["permission"]}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Issue</th>
                            <td>{{project["date"]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th scope="row">Contact</th>
                            <td>{{project["client"]}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Company</th>
                            <td>{{project["company"]}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone</th>
                            <td>{{project["phone"]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th scope="row">Address</th>
                            <td>{{project["address"]}}, {{project["city"]}}</td>
                        </tr>
                        <tr>
                            <th scope="row">State</th>
                            <td>{{project["state"]}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Zip code</th>
                            <td>{{project["zip_code"]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <h2 class="text-start">Tasks</h2>
            <hr>
            <table class=table>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Status</th>
                        <th>Stage</th>
                        <th>Description</th>
                        <th>Team</th>
                        <th>Lead</th>
                        <th>Start date</th>
                        <th>Due date</th>
                    </tr>
                </thead>

                <tbody>
                        {% for task in tasks: %}
                            <tr>
                                <td>{{ task["id"] }}</td>
                                <td>{{ task["status"] }}</td>
                                <td>{{ task["stage"] }}</td>
                                <td>{{ task["task"] }}</td>
                                <td>{{ task["team"] }}</td>
                                <td>{{ task["lead"] }}</td>
                                <td>{{ task["start_date"] }}</td>
                                <td>{{ task["due_date"] }}</td>
                            </tr>
                        {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}







<!-- <div class="card bg-ligth">
    <h6 class="card-title p-2" style="text-align: center">Project # {{project["id"]}}</h6>
    <div class="task-amount m-5 ">
        <h1>To-dos</h1>
        <h2>{{tasks | pending }}</h5>
    </div>
    <div class="card-body table-responsive">
        <table class="table">
            <thead></thead>
                <tbody>
                    <tr>
                        <th scope="row">Status</th>
                        <td>{{project["status"]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Permission</th>
                        <td>{{project["permission"]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Contact</th>
                        <td>{{project["client"]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Company</th>
                        <td>{{project["company"]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td>{{project["address"]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Zip code</th>
                        <td>{{project["zip_code"]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">City</th>
                        <td>{{project["city"]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">State</th>
                        <td>{{project["state"]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Issue date</th>
                        <td>{{project["date"]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<div class="col d-flex justify-content-center">
<div class="table-responsive">
    <h2 class="text-start">Tasks</h2>
    <hr>
    <table class=table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Status</th>
                <th>Stage</th>
                <th>Description</th>
                <th>Team</th>
                <th>Lead</th>
                <th>Start date</th>
                <th>Due date</th>
            </tr>
        </thead>

        <tbody>
                {% for task in tasks: %}
                    <tr>
                        <td>{{ task["id"] }}</td>
                        <td>{{ task["status"] }}</td>
                        <td>{{ task["stage"] }}</td>
                        <td>{{ task["task"] }}</td>
                        <td>{{ task["team"] }}</td>
                        <td>{{ task["lead"] }}</td>
                        <td>{{ task["start_date"] }}</td>
                        <td>{{ task["due_date"] }}</td>
                    </tr>
                {% endfor%}
        </tbody>
    </table>
</div>
</div> -->
