{% extends "layout.html" %}

{% block title %}
    ProjectTasks
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row m-0">
        <div class="col m-1 p-0">
            <div class="card">
                <div class="row m-0">
                    <div class="col border border-top-0 border-start-0 border-bottom-0 align-content-center flex-wrap justify-content-center" style="max-width: 150px">
                        <div class="ml-2">
                            <h3>TO-DO</h3>
                            <h1>{{tasks | pending }}</h1>
                        </div>
                    </div>
                    <div class="col bg-light" style="border-radius: .25em">
                        <div class="card-body">
                            <h5 class="card-title">Project #{{project["id"]}}</h5>
                            <div class="row">
                                <div class="col bg-white border align-content-center flex-wrap justify-content-center m-1" style="border-radius: .25em">
                                    <p class="m-1"><b>Status</b></p>
                                    <p class="m-1">{{ project["status"] }}</p>
                                </div>
                                <div class="col bg-white border align-content-center flex-wrap justify-content-center m-1" style="border-radius: .25em">
                                    <p class="m-1"><b>Permission</b></p>
                                    <p class="m-1">{{ project["permission"] }}</p>
                                </div>
                                <div class="col bg-white border align-content-center flex-wrap justify-content-center m-1" style="border-radius: .25em">
                                    <p class="m-1"><b>Contact</b></p>
                                    <p class="m-1">{{ project["client"] }} ({{ project["phone"] }}) {{ project["company"] }}</p>
                                </div>
                                <div class="col bg-white border align-content-center flex-wrap justify-content-center m-1" style="border-radius: .25em">
                                    <p class="m-1"><b>Address</b></p>
                                    <p class="m-1">{{ project["address"] }} {{ project["city"] }}, {{ project["zip_code"]}} {{ project["state"] }}</p>
                                </div>
                            </div>
                            <p class="card-text mt-2"><small class="text-muted">Added on {{ project["date"] | date }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0">
        {% for (title, status) in [("To-do", "Not Started"), ("Started", "Started"), ("Finished", "Finished")]: %}
            <div class="col m-1 mt-3 bg-light border" style="border-radius: .50em">
                <p class="mt-2">{{title}}</p>
                {% for task in tasks: %}
                    {% if task ["status"] == status: %}
                        <div class="row m-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ task["task"] }}</h5>
                                    <p class="card-text">{{ task["description"] }}</p>
                                </div>
                                <hr class="m-0">
                                    <table class="table mb-1 table-borderless">
                                        <thead></thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="text-end col-1">Stage</th>
                                                <td class="text-start col-2">{{task["stage"]}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-end col-1">Team</th>
                                                <td class="text-start col-2">{{task["team"]}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-end col-1">Lead</th>
                                                <td class="text-start col-2">{{task["lead"]}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                <hr class="m-0">
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {%endfor%}
            </div>
       {%endfor%}
    </div>
</div>
{% endblock %}
