{% extends "layout.html" %}

{% block title %}
    ProjectTasks
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col m-2 p-0">
            <div class="card">
                <div class="row">
                    <div class="col align-self-center" style="max-width: 200px">
                        <div>
                            <h3>TO-DO:</h3>
                            <h1>{{tasks | pending }}</h1>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for (title, status) in [("To-do", "Not Started"), ("Started", "Started"), ("Finished", "Finished")]: %}
            <div class="col m-2 bg-light border" style="border-radius: .50em">
                <p class="mt-2">{{title}}</p>
                {% for task in tasks: %}
                    {% if task ["status"] == status: %}
                        <div class="row m-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ task["task"] }}</h5>
                                    <p class="card-text">{{ task["description"] }}</p>
                                </div>
                                <hr class="m-0">
                                    <table class="table mb-1 table-borderless">
                                        <thead></thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="text-end col-1">Stage</th>
                                                <td class="text-start col-2">{{task["stage"]}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-end col-1">Team</th>
                                                <td class="text-start col-2">{{task["team"]}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-end col-1">Lead</th>
                                                <td class="text-start col-2">{{task["lead"]}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                <hr class="m-0">
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {%endfor%}
            </div>
       {%endfor%}
    </div>
</div>
{% endblock %}
